@import "../../styles/variable.scss";

.container {
  padding: $px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 2;
}

.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.layout {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.mobMenu {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding-bottom: 35px;
  &_top {
    padding: $px;
    height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
      margin-bottom: 20px;
      &:last-of-type {
        margin-bottom: 0;
      }
      a {
        font-size: 28px;
      }
    }
  }
}
