.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
  li {
    margin-right: 20px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
