.table {
  display: grid;
  row-gap: 60px;
}
.row {
  display: grid;
  border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
  padding-top: 10px;
}

.licenseRow {
  grid-template-columns: 1fr 1fr 2fr;
}
.faqRow {
  grid-template-columns: 1fr 2fr;
  column-gap: 25%;
}
.col {
  p {
    line-height: 26px;
    white-space: pre-line;
  }
}
