.grid {
  margin-top: 12px;
}
.row {
  display: grid;
  column-gap: 32px;
  height: 49px;
  &:first-of-type {
    border-top: 1px solid rgba(0, 0, 0, 1);
    grid-template-columns: 2fr 1fr 1fr;
  }
  &:last-of-type {
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
  }
}

.col {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  &:last-of-type {
    justify-content: flex-end;
  }
}

.promo {
  background: linear-gradient(
    270deg,
    #dc3131 22.44%,
    #e88833 37.6%,
    #f4d835 52.99%,
    #45a861 64.74%,
    #3dc8dd 77.7%,
    #044fe1 90.66%,
    #ad00ff 99.57%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  min-width: 135px;
  width: 135px;
  max-width: 310px;
  border: none;
  &:focus,
  &:hover {
    border: none;
  }
}
