.item {
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.preview {
  font-size: 216px;
  padding: 40px 0;
  white-space: nowrap;
  line-height: 1;
  overflow: hidden;
  display: block;
  user-select: text;
  outline: none;
  @media (max-width: 768px) {
    font-size: 10rem;
  }
}
.styles {
  display: flex;
  flex-direction: row;
  padding-bottom: 52px;
  flex-wrap: wrap;
}
.stylesItem {
  font-size: 72px;
  line-height: 87px;
  margin-right: 22px;
  margin-bottom: 10px;
  &:last-of-type {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.rangeWrap {
  display: flex;
  width: 179px;
  height: 21px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
