.container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  div {
    display: flex;
    flex-direction: row;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  border-bottom: 1px solid transparent;
}
.cell {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: -1px;
  margin-right: -1px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  font-size: 72px;
  line-height: 1;
  background-color: #fff;
  color: #000;
  cursor: default;
  @media (max-width: 768px) {
    font-size: 3rem;
  }
  &:hover {
    background-color: #000;
    color: #fff;
  }
}
