.item {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  column-gap: 32px;
  height: 49px;
  &:first-of-type {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
}
.col {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  select {
    width: 100%;
  }
  &:last-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    div {
      display: flex;
      justify-content: flex-end;
    }
  }
}
.itemInputCol {
  border-bottom: none;
  align-items: stretch;
  div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    align-items: center;
  }
}
.price {
  margin-right: 32px;
}
