.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  line-height: 34px;
  padding: 0 20px;
  min-width: 80px;
  cursor: pointer;
  &:hover {
    background-color: #fff;
    color: #000;
  }
}
