.icon {
  margin-left: 5px;
}

.blockWrap {
  position: absolute;
  bottom: 0;
  left: 100%;
  display: none;
  padding-bottom: 30px;
}
.block {
  position: relative;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 320px;
  p,
  a {
    font-size: 14px;
    line-height: 18px;
  }
}

.wrap {
  display: block;
  &:hover {
    .blockWrap {
      display: block;
    }
  }
}
