.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
  padding: 0 30px;
  padding-top: 40vh;
  background-color: #fff;
  flex: 1 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
