.radio {
  padding-left: 35px;
  display: block;
  input {
    &:checked + span:after {
      opacity: 1;
    }
  }
  span {
    &:after,
    &:before {
      content: "";
      display: block;
      border-radius: 50%;
      border: 1px solid #000;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    &:before {
      width: 20px;
      height: 20px;
    }
    &:after {
      width: 8px;
      height: 8px;
      left: 6px;
      background-color: #000;
      opacity: 0;
    }
  }
}
