.item {
  &:nth-child(odd) {
    margin-left: 0;
    margin-right: 15px;
  }
  &:nth-child(even) {
    margin-left: 15px;
    margin-right: 0;
  }
  width: calc(50% - 15px);
  margin-bottom: 50px;
  p {
    line-height: 28px;
  }
}
