@import "../../styles/variable.scss";

.container {
  padding: $px;
  padding-top: 160px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
  background-color: #fff;
  z-index: 2;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
  li {
    margin-right: 20px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
