@import "../../styles/variable.scss";

.container {
  padding: $px;
  padding-bottom: 32px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
  background-color: #fff;
  @media (max-width: 1188px) {
    flex-direction: column;
    align-items: flex-start;
  }
  p {
    overflow-wrap: break-word;
    font-size: 10px;
    line-height: 16px;
    max-width: 583px;
    text-transform: uppercase;
    text-align: right;
    @media (max-width: 1188px) {
      text-align: left;
      margin-top: 30px;
    }
  }
}
.line {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
.images {
  width: auto;
  grid-column-gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
