@import "../../styles/variable.scss";

.layout {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 3;
  cursor: pointer;
}

.popupLayout {
  overflow: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  padding-bottom: 100px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  p {
    font-size: 36px;
    line-height: 30px;
  }
}

.popup {
  padding: $p;
  padding-bottom: 50px;
  position: fixed;
  top: 0;
  z-index: 4;
  background-color: #fff;
  width: 50%;
  max-width: 875px;
  margin: 0 auto;
  margin-top: 100px;
  left: 50%;
  transform: translateX(-50%);
  input {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    width: 100%;
    height: 49px;
    text-align: center;
  }
  select {
    width: 100%;
    height: 100%;
  }
}

.success {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 181px;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.subtitle {
  margin-bottom: 5px;
}

.block {
  border-top: 1px solid #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
  padding-bottom: 50px;
  input {
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0);
  }
  select {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.input100 {
  width: 100% !important;
}
.input50 {
  width: calc(50% - 15px) !important;
  position: relative;
  svg {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
