.item {
  height: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 66px;
  &:last-of-type {
    margin-bottom: none;
  }
}
.title {
  font-size: 144px;
  line-height: 173px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 24px;
}
.info {
  display: flex;
  flex-direction: row;
}
