.grid {
  display: grid;
  grid-template-columns: 4fr 3fr;
  column-gap: 12.5%;
  padding-top: 20px;
  h2 {
    margin-bottom: 32px;
  }
  p {
    line-height: 26px;
    margin-bottom: 32px;
  }
  h3 {
    text-transform: uppercase;
    margin-bottom: 27px;
  }
}

.gridLeft {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}
