@font-face {
  font-family: "Pragmatica";
  src: url("../fonts/pragmatica-700.woff2") format("woff2"),
    url("../fonts/pragmatica-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pragmatica";
  src: url("../fonts/pragmatica-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import "variable.scss";

html,
body {
  width: 100%;
  overflow-x: hidden !important;
}

body #__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
strong,
b,
input,
select,
option,
i {
  font-family: "Pragmatica", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

h1 {
  font-size: 36px;
  line-height: 30px;
}
h2 {
  font-size: 36px;
  line-height: 48px;
}
h3 {
  font-size: 16px;
  line-height: 26px;
}
select {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background-color: transparent;
}
input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  &:hover,
  &:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
  }
}
img {
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  display: inline-block;
  &:hover {
    border-bottom: 1px solid #000;
  }
  &-line {
    text-decoration: none;
    border-bottom: 1px solid #000;
    display: inline-block;
    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

.hidden {
  display: none;
}
.invisible {
  opacity: 0;
}

.wrapRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  h1 {
    cursor: pointer;
    &:hover {
      border-bottom: 1px solid #000;
    }
  }
}

.underline {
  border-bottom: 1px solid #000;
  cursor: default !important;
}

.slick-slider {
  padding-top: 38px;
  img {
    width: 100%;
    height: auto;
  }
  .slick-dots {
    bottom: unset;
    top: 0;
    text-align: left;
    li {
      width: 16px;
      height: 16px;
      margin: 0;
      margin-right: 9px;
      button {
        width: 16px;
        height: 16px;
        font-size: 16px;
        color: rgba($color: #000000, $alpha: 0.5);
        padding: 0;
        box-shadow: none;
        &::before {
          display: none;
        }
      }
      &.slick-active {
        button {
          color: #000;
        }
      }
    }
  }
  .slick-next,
  .slick-prev {
    top: 38px;
    width: 50%;
    transform: none;
    box-shadow: none;
    bottom: 0;
    z-index: 1;
    border-radius: 0;
    height: calc(100% - 46px);
    &::before {
      display: none;
    }
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
}

label {
  position: relative;
  margin-right: 20px;
  cursor: pointer;
  &:last-of-type {
    margin-right: 0;
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    &:checked + span:after {
      opacity: 1;
    }
  }
}

body {
  .smallBtn {
    padding: 0 27px;
    line-height: 28px;
  }
  .largeBtn {
    padding: 0 27px;
    line-height: 48px;
  }
  .checkoutBtn {
    text-transform: uppercase;
    width: 25%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .popupBtn {
    width: 100%;
  }
  .whiteBtn {
    background-color: #fff;
    color: #000;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
  .btn-disabled {
    pointer-events: none;
    opacity: 0.5 !important;
  }
}
.grid-50 {
  width: 50%;
  p {
    margin-bottom: 16px;
    line-height: 30px;
  }
  h2 {
    margin-bottom: 16px;
    line-height: 40px;
    font-size: 28px;
  }
}

.logo-left {
  position: relative;
  left: unset;
  transform: none;
}

.checkout_checkbox {
  margin-top: 30px;
}
.popup_checkbox {
  margin-top: 15px;
}

.checkout_popup {
  position: relative;
  left: unset;
  transform: none;
}

form {
  input.is-invalid {
    border-bottom: 1px solid $red;
  }
  input.is-invalid-color,
  .is-invalid-color span,
  .is-invalid-color a {
    color: $red;
    &::placeholder {
      color: $red;
    }
  }
  .is-invalid-color a {
    border-bottom: 1px solid $red;
  }
  input.is-invalid-full {
    border-bottom: 1px solid $red;
    color: $red;
    &::placeholder {
      color: $red;
    }
  }
  // .invalid-feedback {
  //   color: $red;
  //   position: absolute;
  // }
}

.hint-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.range-slider {
  opacity: 0;
}
.font-item {
  &:hover {
    .range-slider {
      opacity: 1;
    }
  }
}

.range-slider-active {
  opacity: 1;

  .MuiSlider-thumb {
    background-color: #fff;
  }
}

.bepaid-app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .bepaid-close,
  .bepaid-spinner {
    display: none;
  }
  .bepaid-app__container {
    height: 100%;
    iframe {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 9999;
    }
  }
}
